@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   background-color: grey;
}

.Footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

.NavBar{
   position: sticky;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}